.pokemon-card {
  position: relative;
  display: flex;
  max-width: 20rem;
  width: 100%;
  height: 9.375rem;
  justify-content: space-around;
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.06); 
  box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.06);
}

.pokemon-card img {
  width: auto;
  height: 7.8125rem;
  filter: grayscale(100%);
  transition: all .4s ease;
}

.pokemon-card:hover img {
  filter: grayscale(0%);
}


.pokemon-card__content {
  width: 100%;
}

.pokemon-card__content span {
  color: #fff;
  opacity: 0.8;
  font-size: 1.25rem;
  font-family: 'VT323', monospace;
}

.pokemon-card__content h2 {
  color: #fff;
  font-size: 2.25rem;
}

.pokemon-card svg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: auto;
  z-index: 0;
  opacity: 0.2;
  padding: 8px;
  transition: all .4s ease;
}

.pokemon-card:hover svg{
  transform: rotate(235deg);
}

.pokemon-card svg path {
  fill: #fff;
}

main {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 40px 0;
}

main .logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.logo-container img {
  height: 100px;
  width: auto;
}

main .wrap-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrap-button button {
  background-color: #222;
  color: #fff;
  height: 3.5rem;
  max-width: 18.75rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: filter 0.2s;
}

.wrap-button button:hover {
  filter: brightness(0.9);
}